* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (min-width: 1921px) {
  body {
    width: 70%;
    margin: 0 auto;
  }
  .map-div h1 {
    font-size: 2em;
  }
}
@media screen and (min-height: 420px) {
  body {
    overflow: hidden;
  }
}
.welcome-container {
  padding: 20vh 20px;
  text-align: center;
  min-height: 100vh;
  background-color: #3d7e4d;
}
.welcome-container h1:first-child {
  padding: 20px;
}
.welcome-container > h1 {
  font-size: clamp(2rem, 1rem + 4vw, 6rem);
  color: #e5e866;
}
#h1 {
  font-size: clamp(2rem, 1rem + 10vw, 9rem);
}
.button-container {
  margin: 30px;
}
@media (min-width: 600px) {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
}
.button-container p {
  font-size: clamp(1rem, 0.5rem + 10vw, 1.5rem);
  font-weight: 300;
  padding: 0 20px 0 20px;
  color: #dcdd9e;
}
.button-container button {
  font-size: clamp(1rem, 1rem + 10vw, 2rem);
  padding: 10px;
  border-radius: 10px;
  border: unset;
  color: #1a642d;
  background-color: #e5e866;
  transition: all 0.2s;
}
.button-container button:hover {
  transform: translateX(10px);
}
.map-div {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  animation: fadeIn 0.9s;
}
.map-div path:hover {
  fill: #de965e;
  z-index: 15;
}
svg {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#text-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  top: 10%;
  right: 100px;
}
#text-container h1 {
  display: none;
  color: wheat;
  background-color: #aa7f5f;
  border-radius: 70px 0 0 70px;
  padding: 20px 60px;
  font-size: 4vw;
  text-align: center;
  animation: fadeIn 0.9s;
}
@media screen and (max-width: 890px) {
  #text-container h1 {
    padding: 20px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#location-h1 {
  position: absolute;
  display: flex;
  font-size: 4vw;
  margin: 20px 0 0 50px;
  color: #3b527c;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 0 1px #fff,
    0 -1px 1px #fff;
}
