* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  /* background: #eebc86; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}

.welcome-container {
  position: relative;
  background-color: #3d7e4d;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.welcome-container h1:first-child {
  padding-top: 100px;
}
.welcome-container h1 {
  color: #e5e866;
  font-size: 6em;
}
.button-container {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.button-container p {
  font-size: 2em;
  font-weight: 300;
  float: left;
  padding-right: 30px;
  color: #dcdd9e;
}

.button-container button {
  float: right;
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: unset;
  color: #1a642d;
  background-color: #e5e866;
  transition: all 0.2s;
}
.button-container button:hover {
  transform: translateX(10px);
}
.map-div {
  display: none;
  position: relative;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  /* align-self: flex-end; */
  /* text-align: center; */
  /* margin: 30px; */
  animation: fadeIn 0.9s;
}
.map-div path:hover {
  fill: #de965e;
  /* transform: translateX(50px); */
  z-index: 15;
}
svg {
  width: 100%;
  height: 100%;
  /* margin: 13% 15% 0 100px; */

  z-index: 0;
}

#text-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 30%;
  top: 60px;
  right: 30px;
}

#text-container h1 {
  display: none;
  color: wheat;
  background-color: #aa7f5f;
  border-radius: 70px 0px 0px 70px;
  padding: 20px 60px;
  font-size: 4vw;
  text-align: right;
  animation: fadeIn 0.9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

#location-h1 {
  position: absolute;
  display: flex;
  font-size: 4vw;
  margin: 20px 0 0 50px;
  color: #3b527c;
  text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #ffffff, -1px 0px 1px #ffffff,
    0px -1px 1px #ffffff;
}
